:root {
  --light-color: rgba(223, 230, 233, 1);
  --cap-text: "Bellota Text", cursive;
  --bold-text: "Plaster", cursive;
  --typo-text: "Roboto Slab", serif;
  --red-color: rgba(214, 48, 49, 0.7);
  --drak-color: #2d3436;
}

html,
body {
  width: 100%;
  margin: 0px;
}

body {
  background-color: #7f8c8d;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.pre-load-wrapper {
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: 100%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circlePath-two {
  stroke-dasharray: 340 !important;
  stroke-dashoffset: 340;
  -webkit-animation: dash 5s linear forwards infinite;
          animation: dash 5s linear forwards infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.runner {
  position: absolute;
  font-size: 180px;
  color: #d63031;
  transform: translate(5px, 5px);
}

.runner-two {
  position: absolute;
  font-size: 180px;
  color: #55efc4;
  opacity: 0.7;
  transform: translate(-5px, -5px);
}

.runner-three {
  position: absolute;
  font-size: 180px;
  color: #fdcb6e;
}

nav {
  position: absolute;
  top: 260%;
  left: 700px;
  width: 95%;
  z-index: 10002;
}
nav ul {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  padding: 10px 5px;
  position: absolute;
}
nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: #ecf0f1;
  font-family: "Bellota Text", cursive;
  font-size: 25px;
}

.textbox {
  grid-area: 1/1/2/2;
  margin-top: 300px;
  margin-left: 10px;
  width: 100%;
  border-radius: 5px;
  font-family: var(--typo-text);
  color: var(--light-color);
  padding: 15px 15px;
  font-size: 17px;
  position: relative;
}
.textbox .align-left {
  text-align: left;
}
.textbox .align-right {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}
.textbox .align-center {
  margin-top: 50px;
  text-align: center;
}
.textbox .align-center .italic {
  font-style: italic;
}
.textbox .final {
  margin-top: 50px;
}
.textbox .align-wild-right {
  text-align: right;
}
.textbox .intro {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.textbox .big-bold {
  font-family: var(--typo-text);
  font-weight: 100;
  font-size: 60px;
  text-align: left;
  line-height: 80px;
}
.textbox .big-bold .credit-dots {
  letter-spacing: 20px;
  opacity: 0.8;
}
.textbox .lac-bleau-action {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 320px;
  height: 235px;
  border-radius: 10px;
  z-index: -1;
  filter: grayscale(0.5);
}
.textbox .ps {
  font-weight: 100;
}
.textbox .insta {
  font-size: 40px;
  color: #2d3436;
  background-color: transparent;
  position: absolute;
  top: 280px;
  left: 500px;
}

.little-bold {
  font-family: var(--typo-text);
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  line-height: 80px;
}
.little-bold .interro {
  font-style: italic;
  font-weight: 100;
}

.headline {
  position: absolute;
  top: 10px;
  left: 200px;
  font-family: var(--bold-text);
  font-size: 150px;
  color: rgb(223, 230, 233);
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: -5px;
  -webkit-text-stroke: 0.5px #2d3436;
}

.textbox::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 20px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top: 2px dotted #ecf0f1;
  border-right: 2px dotted #ecf0f1;
}

.headline-pic {
  width: 340px;
  height: 251px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.marquee-container {
  position: absolute;
  left: 300px;
  top: 200px;
  transform: rotate(35deg);
  height: 140px;
  width: 1200px;
  background-color: rgba(45, 52, 54, 0.8);
  z-index: 1000;
  overflow: hidden;
}
.marquee-container #marquee-text {
  letter-spacing: 3.5px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 100%;
  display: inline-block;
  font-family: var(--typo-text);
  font-weight: 100;
  color: var(--light-color);
  font-size: 75px;
  white-space: nowrap;
  -webkit-animation: marquee 40s infinite linear;
          animation: marquee 40s infinite linear;
}
.marquee-container .handshake {
  color: var(--light-color);
  font-size: 75px;
}

.marquee-container #marquee-text:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.grid-container {
  margin-top: 0px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 100%;
}

.cluster-container {
  grid-area: 1/2/2/3;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.certified-bagnere-img {
  width: 300px;
  height: 360px;
  border-radius: 10px;
  filter: grayscale(1);
  filter: contrast(90%);
  transition: 0.25s ease-in-out;
}

.pyramid-race-finish {
  width: 300px;
  height: 398px;
  border-radius: 10px;
  margin-top: 20px;
  filter: saturate(90%);
}

.pic-two {
  margin-top: 20px;
  background-image: url(/images/cluster/HL100finishCluster.jpeg);
  background-size: cover;
  width: 300px;
  height: 330px;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
  flex-shrink: 1;
}

.contact-bubble {
  width: 300px;
  height: 330px;
  background-color: rgba(223, 230, 233, 0.8);
  border-radius: 10px;
  margin-top: 25px;
}
.contact-bubble h6 {
  font-family: var(--cap-text);
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.contact-bubble ul {
  list-style: none;
  text-align: center;
  margin-top: -20px;
  transform: translate(-8%, -8%);
}
.contact-bubble ul li {
  font-family: var(--cap-text);
  font-size: 18px;
  line-height: 30px;
}
.contact-bubble ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}/*# sourceMappingURL=contact.css.map */