*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --raleway-font: "Raleway", sans-serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
}

body {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: #2f3640;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-family: var(--header-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-transform: uppercase;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.df {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--raleway-font);
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 1.6rem;
}

.nav__link:hover {
  text-shadow: var(--color-red) 3px 3px 3px;
}

.title-section {
  margin-top: 2.5em;
  position: relative;
}

.title-text {
  font-family: var(--raleway-font);
  font-weight: 800;
  text-shadow: #2f3640 2px 2px 5px;
  margin-top: 1em;
  font-size: 4.5rem;
}

.small-img {
  width: 50%;
}

.teton-img {
  width: 70%;
  position: absolute;
  top: -35%;
  left: 30%;
  z-index: -1;
}

.section-one {
  margin-top: 5rem;
  position: relative;
}

.icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.hoka-logo {
  width: 50%;
  margin-bottom: 2rem;
}

.rrunning-logo {
  width: 72%;
}

.icon-link {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.contact {
  margin-top: 3rem;
  text-align: center;
}
.contact h2 {
  font-family: var(--raleway-font);
  font-weight: 400;
  font-style: italic;
  color: var(--color-white);
}
.contact h4 {
  font-family: var(--raleway-font);
  font-weight: 700;
  color: var(--color-white);
}

.contact-list {
  text-align: center;
  padding-top: 0.2em;
}

.contact-list-item {
  margin-top: 1em;
  font-family: var(--p-font);
  font-weight: 400;
}

.contact-list-link {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

.shrink-wrap {
  display: block;
}

@media (min-width: 800px) {
  .nav-toggle {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav__list {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
  }
  .nav__item {
    margin-right: 2em;
  }
  .nav__link {
    font-size: 1.6rem;
  }
  .nav__link:hover {
    text-shadow: var(--color-red) 3px 3px 3px;
  }
  .shrink-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
  }
  .col-one {
    width: 50%;
  }
  .col-two {
    width: 40%;
  }
  .title-text {
    margin-top: 1em;
    font-size: 6.5rem;
  }
  .teton-img {
    width: 70%;
    position: absolute;
    top: -25%;
    left: 30%;
    z-index: -1;
  }
}/*# sourceMappingURL=contactMF.css.map */