*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
}

body {
  margin: 0;
  font-family: var(--p-font);
  font-size: 1.3rem;
  color: var(--color-black);
  background-color: var(--color-grey);
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0.25em;
  font-family: var(--header-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
}

.closer-letters {
  letter-spacing: -8px;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

ul {
  list-style: none;
}

li {
  font-family: var(--p-font);
  font-style: italic;
  font-size: 1.6rem;
}

.df {
  display: flex;
  justify-content: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--section-title-font);
  font-style: normal;
  text-transform: uppercase;
}

.contact__link {
  font-family: var(--section-title-font);
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--color-white);
  text-align: right;
}

.nav__link:hover {
  text-shadow: var(--color-red) 3px 3px 3px;
}

.svg-bundle {
  position: relative;
  max-width: 400px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  transform: translate(-300px);
}

.typography-container {
  margin: 2em 0;
  transform: translate(300px);
}

.bigorre-tiger {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.race-pic {
  width: 80%;
  text-align: center;
  border-radius: 15px;
}

.race-text {
  width: 90%;
  margin: 0 auto;
}

.race-header {
  padding-top: 1em;
  padding-bottom: 0;
  line-height: 70%;
}
.race-header .stats {
  color: var(--color-black);
  font-weight: 300;
  -webkit-text-decoration: underline wavy var(--color-red);
          text-decoration: underline wavy var(--color-red);
  text-underline-offset: 3px;
}
.race-header .stats-contact {
  line-height: 1.2;
  text-align: center;
  font-size: 1.2em;
}

.race-details {
  text-align: right;
}

.race-details-contact {
  text-align: center;
  line-height: 2;
}

.race-details-contact ul {
  padding-left: 0;
}

.race-details__link {
  color: var(--color-black);
  cursor: pointer;
}

.race-details__link:hover {
  opacity: 0.75;
}

.img-box {
  position: relative;
}

.results-box {
  position: absolute;
  background-color: rgba(236, 240, 241, 0.6);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 80%;
  height: 50%;
}

.results-list {
  text-align: center;
  margin-top: 10%;
  margin-left: 0;
  padding-left: 0;
}

.results-list__item {
  font-size: 2.5rem;
  font-style: normal;
}

.trophy-icon {
  color: #f6e58d;
  font-size: 2.5rem;
  -webkit-text-stroke: 0.5px black;
}

.trophy-silver-icon {
  color: #bdc3c7;
  font-size: 2.5rem;
  -webkit-text-stroke: 0.5px black;
}

.trophy-icon-third {
  color: #fab1a0;
  font-size: 2.5rem;
  -webkit-text-stroke: 0.5px black;
}

.stopwatch-icon {
  font-size: 2rem;
}

.instagram-icon {
  font-size: 2.5em;
  color: var(--color-red);
}

.sup {
  font-size: 0.5em;
}

.course-record {
  font-size: 0.8em;
  font-style: italic;
}

.results-next-race {
  margin-top: 0.95em;
  font-size: 2.5rem;
  color: var(--color-red);
  font-weight: 700;
  transform: rotate(-10deg);
}

@media (min-width: 800px) {
  .nav-toggle {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav__list {
    display: flex;
    justify-content: center;
  }
  .nav__item {
    margin-left: 2em;
  }
  .svg-bundle {
    margin-top: 3em;
    position: relative;
    max-width: 500px;
  }
  .header-container {
    display: flex;
    align-content: center;
  }
  .header-title {
    font-size: 6rem;
    margin-left: 0.5em;
    margin-top: 1.5em;
  }
  .race-one {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 3em;
  }
  .race-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
  }
  .results-next-race {
    font-size: 3.5rem;
  }
}/*# sourceMappingURL=RacingMF.css.map */