@charset "UTF-8";
*,
body,
html {
  max-width: 1400px;
}

body {
  background-color: #7f8c8d;
  overflow-x: hidden;
}

.preload {
  overflow: hidden;
}

.pre-load-wrapper {
  position: fixed;
  z-index: 1001;
  width: 110%;
  height: 110%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-10px, -100px);
}

#circlePath-two {
  stroke-dasharray: 340 !important;
  stroke-dashoffset: 340;
  -webkit-animation: dash 5s linear forwards infinite;
          animation: dash 5s linear forwards infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.runner {
  position: absolute;
  font-size: 180px;
  color: #d63031;
  transform: translate(5px, 5px);
}

.runner-two {
  position: absolute;
  font-size: 180px;
  color: #55efc4;
  opacity: 0.7;
  transform: translate(-5px, -5px);
}

.runner-three {
  position: absolute;
  font-size: 180px;
  color: #fdcb6e;
}

nav {
  position: absolute;
  margin-top: -3%;
  margin-left: 0;
  width: 95%;
  z-index: 100;
}
nav ul {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  padding: 10px 5px;
  position: absolute;
}
nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: #ecf0f1;
  font-family: "Bellota Text", cursive;
  font-size: 25px;
}

.bottom-nav {
  position: absolute;
  top: 93%;
  left: 80%;
  width: 95%;
  z-index: 100;
}
.bottom-nav ul {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style: none;
}
.bottom-nav ul li {
  padding: 10px 5px;
  position: absolute;
}
.bottom-nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: #ecf0f1;
  font-family: "Bellota Text", cursive;
  font-size: 25px;
}

.panel-two {
  position: relative;
  height: 100vh;
  width: 100%;
}

#chevron {
  position: absolute;
  font-size: 100px;
  color: #ecf0f1;
  top: 70%;
  left: 10%;
  opacity: 0.7;
}

.text-animation {
  position: relative;
  top: 15%;
}

.circle-text-container {
  position: relative;
  color: #ecf0f1;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
  top: -58%;
  right: -400px;
}

.circle-text {
  display: flex;
  -webkit-animation: rotate 24s infinite linear;
          animation: rotate 24s infinite linear;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.circle {
  position: absolute;
  height: 250px;
  width: 250px;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.panel {
  position: absolute;
  width: 7.21px;
  height: 250px;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(var(--angle));
}

.panel::before {
  content: "   year  of  the  water  tiger      dream  big  ";
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  font-size: 31px;
  position: absolute;
  left: var(--left);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.panel:nth-child(1) {
  --left: 0px;
  --angle: 0deg;
}

.panel:nth-child(2) {
  --left: -7.21px;
  --angle: 3.6deg;
}

.panel:nth-child(3) {
  --left: -14.42px;
  --angle: 7.2deg;
}

.panel:nth-child(4) {
  --left: -21.63px;
  --angle: 10.8deg;
}

.panel:nth-child(5) {
  --left: -28.84px;
  --angle: 14.4deg;
}

.panel:nth-child(6) {
  --left: -36.05px;
  --angle: 18deg;
}

.panel:nth-child(7) {
  --left: -43.26px;
  --angle: 21.6deg;
}

.panel:nth-child(8) {
  --left: -50.47px;
  --angle: 25.2deg;
}

.panel:nth-child(9) {
  --left: -57.68px;
  --angle: 28.8deg;
}

.panel:nth-child(10) {
  --left: -64.89px;
  --angle: 32.4deg;
}

.panel:nth-child(11) {
  --left: -72.1px;
  --angle: 36deg;
}

.panel:nth-child(12) {
  --left: -79.31px;
  --angle: 39.6deg;
}

.panel:nth-child(13) {
  --left: -86.52px;
  --angle: 43.2deg;
}

.panel:nth-child(14) {
  --left: -93.73px;
  --angle: 46.8deg;
}

.panel:nth-child(15) {
  --left: -100.94px;
  --angle: 50.4deg;
}

.panel:nth-child(16) {
  --left: -108.15px;
  --angle: 54deg;
}

.panel:nth-child(17) {
  --left: -115.36px;
  --angle: 57.6deg;
}

.panel:nth-child(18) {
  --left: -122.57px;
  --angle: 61.2deg;
}

.panel:nth-child(19) {
  --left: -129.78px;
  --angle: 64.8deg;
}

.panel:nth-child(20) {
  --left: -136.99px;
  --angle: 68.4deg;
}

.panel:nth-child(21) {
  --left: -144.2px;
  --angle: 72deg;
}

.panel:nth-child(22) {
  --left: -151.41px;
  --angle: 75.6deg;
}

.panel:nth-child(23) {
  --left: -158.62px;
  --angle: 79.2deg;
}

.panel:nth-child(24) {
  --left: -165.83px;
  --angle: 82.8deg;
}

.panel:nth-child(25) {
  --left: -173.04px;
  --angle: 86.4deg;
}

.panel:nth-child(26) {
  --left: -180.25px;
  --angle: 90deg;
}

.panel:nth-child(27) {
  --left: -187.46px;
  --angle: 93.6deg;
}

.panel:nth-child(28) {
  --left: -194.67px;
  --angle: 97.2deg;
}

.panel:nth-child(29) {
  --left: -201.88px;
  --angle: 100.8deg;
}

.panel:nth-child(30) {
  --left: -209.09px;
  --angle: 104.4deg;
}

.panel:nth-child(31) {
  --left: -216.3px;
  --angle: 108deg;
}

.panel:nth-child(32) {
  --left: -223.51px;
  --angle: 111.6deg;
}

.panel:nth-child(33) {
  --left: -230.72px;
  --angle: 115.2deg;
}

.panel:nth-child(34) {
  --left: -237.93px;
  --angle: 118.8deg;
}

.panel:nth-child(35) {
  --left: -245.14px;
  --angle: 122.4deg;
}

.panel:nth-child(36) {
  --left: -252.35px;
  --angle: 126deg;
}

.panel:nth-child(37) {
  --left: -259.56px;
  --angle: 129.6deg;
}

.panel:nth-child(38) {
  --left: -266.77px;
  --angle: 133.2deg;
}

.panel:nth-child(39) {
  --left: -273.98px;
  --angle: 136.8deg;
}

.panel:nth-child(40) {
  --left: -281.19px;
  --angle: 140.4deg;
}

.panel:nth-child(41) {
  --left: -288.4px;
  --angle: 144deg;
}

.panel:nth-child(42) {
  --left: -295.61px;
  --angle: 147.6deg;
}

.panel:nth-child(43) {
  --left: -302.82px;
  --angle: 151.2deg;
}

.panel:nth-child(44) {
  --left: -310.03px;
  --angle: 154.8deg;
}

.panel:nth-child(45) {
  --left: -317.24px;
  --angle: 158.4deg;
}

.panel:nth-child(46) {
  --left: -324.45px;
  --angle: 162deg;
}

.panel:nth-child(47) {
  --left: -331.66px;
  --angle: 165.6deg;
}

.panel:nth-child(48) {
  --left: -338.87px;
  --angle: 169.2deg;
}

.panel:nth-child(49) {
  --left: -346.08px;
  --angle: 172.8deg;
}

.panel:nth-child(50) {
  --left: -353.29px;
  --angle: 176.4deg;
}

.panel:nth-child(51) {
  --left: -360.5px;
  --angle: 180deg;
}

.panel:nth-child(52) {
  --left: -367.71px;
  --angle: 183.6deg;
}

.panel:nth-child(53) {
  --left: -374.92px;
  --angle: 187.2deg;
}

.panel:nth-child(54) {
  --left: -382.13px;
  --angle: 190.8deg;
}

.panel:nth-child(55) {
  --left: -389.34px;
  --angle: 194.4deg;
}

.panel:nth-child(56) {
  --left: -396.55px;
  --angle: 198deg;
}

.panel:nth-child(57) {
  --left: -403.76px;
  --angle: 201.6deg;
}

.panel:nth-child(58) {
  --left: -410.97px;
  --angle: 205.2deg;
}

.panel:nth-child(59) {
  --left: -418.18px;
  --angle: 208.8deg;
}

.panel:nth-child(60) {
  --left: -425.39px;
  --angle: 212.4deg;
}

.panel:nth-child(61) {
  --left: -432.6px;
  --angle: 216deg;
}

.panel:nth-child(62) {
  --left: -439.81px;
  --angle: 219.6deg;
}

.panel:nth-child(63) {
  --left: -447.02px;
  --angle: 223.2deg;
}

.panel:nth-child(64) {
  --left: -454.23px;
  --angle: 226.8deg;
}

.panel:nth-child(65) {
  --left: -461.44px;
  --angle: 230.4deg;
}

.panel:nth-child(66) {
  --left: -468.65px;
  --angle: 234deg;
}

.panel:nth-child(67) {
  --left: -475.86px;
  --angle: 237.6deg;
}

.panel:nth-child(68) {
  --left: -483.07px;
  --angle: 241.2deg;
}

.panel:nth-child(69) {
  --left: -490.28px;
  --angle: 244.8deg;
}

.panel:nth-child(70) {
  --left: -497.49px;
  --angle: 248.4deg;
}

.panel:nth-child(71) {
  --left: -504.7px;
  --angle: 252deg;
}

.panel:nth-child(72) {
  --left: -511.91px;
  --angle: 255.6deg;
}

.panel:nth-child(73) {
  --left: -519.12px;
  --angle: 259.2deg;
}

.panel:nth-child(74) {
  --left: -526.33px;
  --angle: 262.8deg;
}

.panel:nth-child(75) {
  --left: -533.54px;
  --angle: 266.4deg;
}

.panel:nth-child(76) {
  --left: -540.75px;
  --angle: 270deg;
}

.panel:nth-child(77) {
  --left: -547.96px;
  --angle: 273.6deg;
}

.panel:nth-child(78) {
  --left: -555.17px;
  --angle: 277.2deg;
}

.panel:nth-child(79) {
  --left: -562.38px;
  --angle: 280.8deg;
}

.panel:nth-child(80) {
  --left: -569.59px;
  --angle: 284.4deg;
}

.panel:nth-child(81) {
  --left: -576.8px;
  --angle: 288deg;
}

.panel:nth-child(82) {
  --left: -584.01px;
  --angle: 291.6deg;
}

.panel:nth-child(83) {
  --left: -591.22px;
  --angle: 295.2deg;
}

.panel:nth-child(84) {
  --left: -598.43px;
  --angle: 298.8deg;
}

.panel:nth-child(85) {
  --left: -605.64px;
  --angle: 302.4deg;
}

.panel:nth-child(86) {
  --left: -612.85px;
  --angle: 306deg;
}

.panel:nth-child(87) {
  --left: -620.06px;
  --angle: 309.6deg;
}

.panel:nth-child(88) {
  --left: -627.27px;
  --angle: 313.2deg;
}

.panel:nth-child(89) {
  --left: -634.48px;
  --angle: 316.8deg;
}

.panel:nth-child(90) {
  --left: -641.69px;
  --angle: 320.4deg;
}

.panel:nth-child(91) {
  --left: -648.9px;
  --angle: 324deg;
}

.panel:nth-child(92) {
  --left: -656.11px;
  --angle: 327.6deg;
}

.panel:nth-child(93) {
  --left: -663.32px;
  --angle: 331.2deg;
}

.panel:nth-child(94) {
  --left: -670.53px;
  --angle: 334.8deg;
}

.panel:nth-child(95) {
  --left: -677.74px;
  --angle: 338.4deg;
}

.panel:nth-child(96) {
  --left: -684.95px;
  --angle: 342deg;
}

.panel:nth-child(97) {
  --left: -692.16px;
  --angle: 345.6deg;
}

.panel:nth-child(98) {
  --left: -699.37px;
  --angle: 349.2deg;
}

.panel:nth-child(99) {
  --left: -706.58px;
  --angle: 352.8deg;
}

.panel:nth-child(100) {
  --left: -713.79px;
  --angle: 356.4deg;
}

.biggora {
  position: absolute;
  width: 140px;
}

.section-title:nth-child(1) {
  margin-left: 20px;
  margin-top: 50px;
}
.section-title:nth-child(1) h1 {
  height: 160px;
  overflow: hidden;
  position: relative;
}
.section-title:nth-child(1) h1 .hide-text {
  top: 180px;
  position: absolute;
  font-family: "Plaster", cursive;
  font-size: 180px;
  color: #ecf0f1;
}

.section-title:nth-child(2) {
  margin-left: 137px;
  margin-top: -10px;
}
.section-title:nth-child(2) h1 {
  position: relative;
  height: 80px;
  overflow: hidden;
}
.section-title:nth-child(2) h1 .hide-text {
  top: 85px;
  position: absolute;
  font-family: "Bellota Text", cursive;
  color: #ecf0f1;
  font-size: 80px;
}

.section {
  position: relative;
  background-color: #7f8c8d;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
.section h1 {
  font-family: "Bellota Text", cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 0.5em;
}

.info-packet-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-packet {
  width: 350px;
  height: 500px;
}
.info-packet .trail-name {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 0;
  -webkit-text-stroke: 0;
}
.info-packet h4 {
  width: 90%;
  font-size: 25px;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-text-decoration: underline wavy rgba(214, 48, 49, 0.7);
          text-decoration: underline wavy rgba(214, 48, 49, 0.7);
  text-underline-offset: 3px;
  padding-left: 5px;
  border-radius: 10px;
}
.info-packet ul {
  margin-top: 0;
  list-style: none;
}
.info-packet ul li {
  width: 90%;
  font-family: "Bellota Text", cursive;
  font-style: italic;
  text-align: right;
  font-size: 20px;
}

.bagnere-classic {
  position: relative;
}

.hautacam-trails {
  position: relative;
}

.winner {
  position: absolute;
  background-color: rgba(223, 230, 233, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  left: 0;
  width: 290px;
  height: 150px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in;
}
.winner .trophy {
  margin-top: 150px;
  margin-left: 90px;
  font-size: 80px;
  color: #f6e58d;
}
.winner h3 {
  position: absolute;
  top: -35px;
  left: 60px;
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  font-size: 35px;
  color: #2f3640;
}
.winner h3 #course-rec {
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  color: #2f3640;
  font-size: 25px;
}

.bagnere-classic:hover .winner {
  opacity: 1;
  visibility: visible;
}

.winner-two {
  position: absolute;
  background-color: rgba(223, 230, 233, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  left: 0;
  width: 290px;
  height: 150px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in;
}
.winner-two .trophy-two {
  margin-top: 150px;
  margin-left: 90px;
  font-size: 80px;
  color: #f6e58d;
}
.winner-two h3 {
  position: absolute;
  top: -35px;
  left: 60px;
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  font-size: 35px;
  color: #2f3640;
}
.winner-two h3 #course-rec-two {
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  color: #2f3640;
  font-size: 25px;
}

.hautacam-trails:hover .winner-two {
  opacity: 1;
  visibility: visible;
}

.border-class {
  position: absolute;
  width: 100%;
  height: 100%;
}

.border-class::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.border-class:hover::before {
  -webkit-animation: animate 1.5s linear forwards;
          animation: animate 1.5s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #d63031;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 350px;
    height: 0;
    border-top-color: #d63031;
    border-right-color: #d63031;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 350px;
    height: 500px;
    border-top-color: rgba(223, 230, 233, 0.7);
    border-right-color: rgba(223, 230, 233, 0.7);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #d63031;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 350px;
    height: 0;
    border-top-color: #d63031;
    border-right-color: #d63031;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 350px;
    height: 500px;
    border-top-color: rgba(223, 230, 233, 0.7);
    border-right-color: rgba(223, 230, 233, 0.7);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.border-class::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.border-class:hover::after {
  -webkit-animation: animates 1.5s linear forwards;
          animation: animates 1.5s linear forwards;
}

@-webkit-keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #d63031;
  }
  50% {
    width: 0;
    height: 500px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #d63031;
    border-left-color: #d63031;
  }
  100% {
    width: 350px;
    height: 500px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(223, 230, 233, 0.7);
    border-left-color: rgba(223, 230, 233, 0.7);
  }
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #d63031;
  }
  50% {
    width: 0;
    height: 500px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #d63031;
    border-left-color: #d63031;
  }
  100% {
    width: 350px;
    height: 500px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(223, 230, 233, 0.7);
    border-left-color: rgba(223, 230, 233, 0.7);
  }
}
.img-thumbnail-left {
  width: 290px;
  height: 290px;
  background-image: url(/imgsBw/lacbleauBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
  text-align: center;
}

.img-thumbnail-right {
  width: 290px;
  height: 290px;
  background-image: url(/imgsBw/neoveillBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
}

.img-thumbnail-three {
  width: 290px;
  height: 290px;
  background-image: url(/imgsBw/ridgelineBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
}

.img-thumbnail-four {
  width: 290px;
  height: 290px;
  background-image: url(/images/mediaQuery/ossauBWthumb.png);
  background-size: cover;
  border-radius: 10px;
}

.img-thumbnail-five {
  width: 290px;
  height: 290px;
  background-image: url(/images/mediaQuery/gabizosBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
}

.img-thumbnail-six {
  width: 290px;
  height: 290px;
  background-image: url(/images/mediaQuery/mountainflankBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
}

.img-thumbnail-seven {
  width: 290px;
  height: 290px;
  background-image: url(/images/mediaQuery/mafateBWthumb.jpg);
  background-size: cover;
  border-radius: 10px;
}

.bold-tag h1 {
  position: absolute;
  font-family: "Plaster", cursive;
  font-size: 100px;
  text-transform: uppercase;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: mixed;
}

.gtvo-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.gtvo-container .title-gtvo {
  font-family: "Plaster", cursive;
  font-size: 140px;
  color: #ecf0f1;
  position: absolute;
  right: 17%;
  top: -20%;
  -webkit-text-stroke: 0.5px #d63031;
}
.gtvo-container .gtvo-stats {
  position: absolute;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  color: #ecf0f1;
  font-size: 40px;
  right: 5%;
  top: 15%;
}

.ossau-img {
  position: absolute;
  width: 1600px;
  height: 793px;
  overflow-x: hidden;
  background-image: url(/images/ossauBW.png);
  background-size: cover;
  z-index: 1;
}

.gtvo-logo {
  width: 320px;
  height: 136px;
  margin-left: 20px;
  margin-bottom: 0;
}

.ossau-text {
  position: absolute;
  top: 0;
  width: 30%;
  height: 360px;
  border-radius: 10px;
  background-color: rgba(223, 230, 233, 0.8);
  z-index: 3;
  top: 90%;
  left: 17%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ossau-text ul {
  margin-top: 0;
  list-style: none;
}
.ossau-text ul li {
  width: 90%;
  font-family: "Bellota Text", cursive;
  text-align: left;
  font-size: 20px;
}

#description {
  font-family: "Roboto Slab", serif;
  text-align: left;
  font-size: 18px;
}

#pre-description {
  font-family: "Bellota Text", cursive;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 10px;
}

.gabizos-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.gabizos-container h1 {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 100px;
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  font-style: normal;
  font-size: 100px;
  font-weight: 700;
  color: #ecf0f1;
  -webkit-text-stroke: 1px #d63031;
}

.gabizos-img {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 720px;
  height: 480px;
  background-image: url(/imgsBw/gabizos.jpg);
  background-size: cover;
}

.gabizos-logo {
  position: absolute;
  top: 390px;
  left: 60px;
  background-image: url(/images/Logo-Les-Gabizos.png);
  background-size: cover;
  width: 120px;
  height: 130px;
  cursor: pointer;
}

.gabizos-text-box {
  position: absolute;
  top: 160px;
  right: 100px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(223, 230, 233, 0.7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.gabizos-text-box ul {
  list-style: none;
}
.gabizos-text-box ul li {
  width: 90%;
  font-family: "Bellota Text", cursive;
  font-style: italic;
  text-align: right;
  font-size: 20px;
}
.gabizos-text-box ul li:nth-child(1) {
  padding-top: 10px;
  width: 90%;
  font-family: "Bellota Text", cursive;
  font-style: normal;
  text-align: right;
  font-size: 25px;
}
.gabizos-text-box ul li:nth-child(3) {
  width: 90%;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  text-align: right;
  font-size: 18px;
  text-align: left;
}

.canfranc-container {
  width: 100%;
  height: 110vh;
  overflow-x: hidden;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marquee-one {
  position: absolute;
  top: -7.5%;
  width: 100%;
  height: 110px;
  white-space: nowrap;
  z-index: 200;
  color: #ecf0f1;
}
.marquee-one h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-size: 100px;
}
.marquee-one .meteor {
  font-size: 100px;
  color: rgba(214, 48, 49, 0.7);
  background-color: transparent;
}

.canfranc-flex-container {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
}

.canfranc-title-text {
  width: 800px;
  height: 300px;
}
.canfranc-title-text h1 {
  font-family: "Plaster", cursive;
  font-size: 120px;
  color: #ecf0f1;
  line-height: 0.6;
  margin-bottom: 0;
}
.canfranc-title-text h1 #canfranc-double {
  font-family: "Plaster", cursive;
  font-size: 120px;
  color: #d63031;
}
.canfranc-title-text h4 {
  font-family: "Bellota Text", cursive;
  font-size: 33px;
  font-weight: 700;
  color: #ecf0f1;
  -webkit-text-stroke: 1px #d63031;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.2;
}

#units {
  font-family: "Bellota Text", cursive;
  color: #ecf0f1;
  font-size: 40px;
  -webkit-text-stroke: 1px #d63031;
  margin-top: 0;
}

.nine-thousand {
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  color: #ecf0f1;
  font-size: 60px;
  -webkit-text-stroke: 1px #d63031;
}

.canfranc-profile-svg {
  width: 1200px;
  position: absolute;
  z-index: 0;
  top: 0px;
}

.svg-path {
  stroke: #ecf0f1 !important;
  stroke-width: 6px !important;
  stroke-opacity: 0.5 !important;
  stroke-dasharray: 8956 !important;
  stroke-dashoffset: 8956;
}

.running-numbers {
  margin-top: 60px;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  background-color: rgba(223, 230, 233, 0.7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.running-numbers ul {
  list-style: none;
}
.running-numbers ul li:nth-child(1) {
  top: 150px;
  right: 40px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 100;
  width: 95%;
  font-family: "Bellota Text", cursive;
  text-align: right;
  font-size: 25px;
  color: #ecf0f1;
  width: 350px;
  background-color: rgba(214, 48, 49, 0.7);
  border-radius: 5px;
}
.running-numbers ul li:nth-child(2) {
  padding-top: 5px;
  width: 95%;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  text-align: right;
  font-size: 20px;
}

.canfranc-content-img {
  width: 337.5px;
  height: 247.5px;
  position: absolute;
  left: 100px;
  background-image: url(/imgsBw/slopingcloudsBW.jpg);
  background-size: cover;
}

.xy-axis {
  top: 180px;
  width: 1200px;
  height: 500px;
  position: absolute;
  border-bottom: 1px solid #ecf0f1;
  border-left: 1px solid #ecf0f1;
}

.x-axis {
  position: absolute;
  top: 370px;
  left: 30%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  color: #ecf0f1;
  font-size: 60px;
  -webkit-text-stroke: 1px #d63031;
}

.arrow {
  color: #ecf0f1;
  font-size: 40px;
  -webkit-text-stroke: 1px #d63031;
}

.y-axis {
  height: 300px;
  position: absolute;
  left: -40px;
  top: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.y-axis h2 {
  font-family: "Bellota Text", cursive;
  font-weight: 700;
  color: #ecf0f1;
  font-size: 60px;
  -webkit-text-stroke: 1px #d63031;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
}

.canfranc-logo {
  width: 300px;
  height: 137px;
  background-image: url(/images/logotipo.canfranc.canfranc.png);
  background-size: cover;
  position: absolute;
  top: 450px;
  right: 50px;
  cursor: pointer;
}

.gr-container {
  width: 100%;
  height: 120vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marquee-two {
  position: absolute;
  top: -5%;
  width: 100%;
  height: 110px;
  white-space: nowrap;
  color: #ecf0f1;
}
.marquee-two h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-size: 80px;
}
.marquee-two .volcano {
  font-size: 80px;
  color: rgba(214, 48, 49, 0.7);
  background-color: transparent;
}

.gr-img {
  position: absolute;
  top: 140px;
  left: 25px;
  width: 700px;
  height: 525px;
  background-image: url(/imgsBw/mafateBW.jpg);
  background-size: cover;
}

.gr-textbox {
  position: absolute;
  top: 250px;
  right: 65px;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(223, 230, 233, 0.7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.gr-textbox ul {
  margin-top: 0;
  list-style: none;
}
.gr-textbox ul li {
  width: 90%;
  font-family: "Bellota Text", cursive;
  font-style: italic;
  text-align: right;
  font-size: 20px;
}
.gr-textbox ul li:nth-child(1) {
  position: absolute;
  width: 150%;
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  font-style: normal;
  font-size: 100px;
  font-weight: 700;
  color: #ecf0f1;
  -webkit-text-stroke: 1px #d63031;
  top: -75px;
  right: 200px;
}
.gr-textbox ul li:nth-child(2) {
  width: 90%;
  font-family: "Bellota Text", cursive;
  font-style: normal;
  text-align: right;
  font-size: 25px;
}
.gr-textbox ul li:nth-child(4) {
  width: 90%;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  text-align: right;
  font-size: 17px;
  text-align: left;
}

.gr-logo {
  position: absolute;
  width: 187.5px;
  height: 159.75px;
  background-image: url(/images/grrlogo.png);
  background-size: cover;
  top: 250px;
  left: -200px;
  cursor: pointer;
}

@media (hover: none) {
  .bagnere-classic .winner {
    opacity: 1;
    visibility: visible;
  }

  .hautacam-trails .winner-two {
    opacity: 1;
    visibility: visible;
  }
}/*# sourceMappingURL=racing.css.map */