*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --raleway-font: "Raleway", sans-serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
}

body {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: #2f3640;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-family: var(--header-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-transform: uppercase;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.df {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
}

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--raleway-font);
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 1.6rem;
}

.nav__link:hover {
  text-shadow: var(--color-gold) 3px 3px 3px;
}

.title-section {
  margin-top: 2.5em;
  position: relative;
}

.title-text {
  font-family: var(--raleway-font);
  font-weight: 800;
  text-shadow: #2f3640 2px 2px 5px;
  margin-top: 1em;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.results__list {
  position: relative;
  margin-top: 1em;
  padding: 0;
}

.results-list__year {
  font-size: 1.5em;
  font-family: var(--roboto-font);
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.results-list__item {
  font-family: var(--p-font);
  font-weight: 100;
  text-align: center;
  margin-bottom: 1rem;
}

.race-title {
  font-size: 1.6rem;
  font-weight: 200;
  font-style: italic;
}

.recap {
  font-family: var(--p-font);
  -webkit-text-decoration: underline 2px dotted var(--color-white);
          text-decoration: underline 2px dotted var(--color-white);
  text-underline-offset: 4px;
  color: var(--color-white);
  font-size: 1.3rem;
}

.pen-icon {
  color: var(--color-white);
  font-size: 0.8em;
}

.list__title {
  margin-left: 1em;
  font-family: var(--p-font);
  font-weight: 100;
  text-transform: uppercase;
}

.trophy-bronze {
  color: #fab1a0;
}

.trophy-silver {
  color: #dfe6e9;
}

.trophy-gold {
  color: #fdcb6e;
}

@media (min-width: 800px) {
  .nav-toggle {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: 2em;
  }
  .title-section {
    margin-top: 2.5em;
    position: relative;
  }
  .title-text {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 5rem;
  }
  .pyramid-img {
    width: 30%;
    top: -65%;
    left: 50%;
  }
  .section-body {
    margin-top: 0;
    width: 100%;
  }
  .results-list__year {
    font-size: 3rem;
  }
  .results-list__item {
    font-size: 1.6rem;
  }
  .race-title {
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
  }
  .list__title {
    font-size: 3rem;
    margin-left: 1em;
    font-family: var(--p-font);
    font-weight: 100;
  }
}/*# sourceMappingURL=results.css.map */