*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --raleway-font: "Raleway", sans-serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
}

body {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: #2f3640;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-family: var(--header-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-transform: uppercase;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.df {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

//nav css

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--raleway-font);
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 1.6rem;
}

.nav__link:hover {
  text-shadow: #95a5a6 3px 3px 3px;
}

.funk {
  font-size: 1000px;
}
