*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --raleway-font: "Raleway", sans-serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
  --color-soft-white: rgba(236, 240, 241, 0.7);
}

body {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: #2f3640;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-family: var(--raleway-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-transform: uppercase;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.df {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

//nav css

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--raleway-font);
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 1.6rem;
}

.nav__link:hover {
  text-shadow: var(--color-red) 3px 3px 3px;
}

//specific top to bottom
//header

.header-title {
  font-size: 5rem;
  margin-top: 0.65em;
  margin-left: 0.2em;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.header-container {
  display: flex;
  justify-content: center;
}

.substack-announcement {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.substack-link {
  text-decoration: none;
  position: relative;
}
.background-link {
  position: absolute;
  top: 10px;
  left: 36%;
}
.linked-icon {
  font-size: 4.5rem;
  opacity: 30%;
  color: #ecf0f1;
}

.substack-link:hover .link-icon {
  color: var(--color-red);
}
.header-link {
  display: flex;
  justify-content: center;
  font-family: var(--roboto-font);
  font-size: 2rem;

  border-radius: 10px;
  .child {
    width: 30%;
    border: 1px dashed var(--color-white);
    margin-bottom: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
  }
  h2 {
    font-family: var(--raleway-font);
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  p {
    text-align: center;
    font-family: var(--p-font);
    font-size: 1rem;
    color: var(--color-white);
  }
}
.link-icon {
  font-size: 1.3em;
}

.blog-article-container {
  display: flex;
  justify-content: center;
}

.frame {
  width: 75%;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.blog-entry {
  position: relative;
  margin-bottom: 1em;
}

.blog-thumbnail {
  border-radius: 10px;
  position: relative;
  transition: 0.1s ease-in-out;
}

.article-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 31%;
  font-family: var(--raleway-font);
  font-weight: 400;
  padding: 0.5em 0.2em;
  font-size: 1rem;
  z-index: 1000;
  color: var(--color-soft-white);
  background-color: #2f3640;

  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blog-thumbnail-two {
  border-radius: 10px;
}

.blog-link {
  color: #ecf0f1;
  margin-bottom: 0.5rem;
}

.article-title {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: var(--color-soft-white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-right: 0.1em;

  h2 {
    font-family: var(--raleway-font);
    font-size: 1.2rem;
    color: var(--color-black);
    text-align: center;
  }
}
.substack-article-title {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: var(--color-soft-white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-right: 0.1em;

  h2 {
    font-family: var(--raleway-font);
    font-size: 1.1rem;
    color: var(--color-black);
  }
}

@media (max-width: 1000px) {
  .header-link {
    display: flex;
    justify-content: center;
    font-family: var(--roboto-font);
    font-size: 0.5rem;

    border-radius: 10px;
    .child {
      width: 90%;
      border: 1px dashed var(--color-white);
      padding: 0.5rem 1rem;
      border-radius: 10px;
    }
    h2 {
      text-align: center;
    }
  }
  .background-link {
    position: absolute;
    top: 15px;
    left: 10%;
  }
  .linked-icon {
    font-size: 4.5rem;
    opacity: 30%;
    color: #ecf0f1;
  }
}

@media (min-width: 800px) {
  .nav-toggle {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    margin-right: 2.5em;
  }

  .nav__item {
    margin-left: 2em;
  }
  .nav__link {
    font-size: 1.6rem;
  }

  .nav__link:hover {
    text-shadow: #95a5a6 3px 3px 3px;
  }

  .blog-link:hover .blog-thumbnail {
    filter: grayscale(80%);
  }

  .substack-link:hover .child {
    border: 4px solid var(--color-white);
  }

  .container {
    width: 90%;
  }

  .blog-entry-experiment {
    width: 100%;
    position: relative;
    background-image: url(/images/blog-photos/spirit-warrior-thumb.jpg);
    background-size: cover;
    height: 96%;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .blog-entry {
    width: 100%;
  }

  .frame {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  .blog-link {
    width: 40%;
    // border: 1px solid red;
  }

  .header-title {
    font-size: 5rem;
    margin-top: 1em;
    margin-left: 0.2em;
    letter-spacing: 2px;
  }

  .article-title {
    width: 60%;
  }

  .article-title h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  .article-date {
    font-size: 1.1em;
  }
}
