*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --p-font: "Bellota Text", cursive;
  --header-font: "Plaster", cursive;
  --section-title-font: "Fredoka", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --color-gold: #f6e58d;
  --color-white: #ecf0f1;
  --color-black: #2f3640;
  --color-red: rgba(214, 48, 49, 0.7);
  --color-silver: #bdc3c7;
  --color-grey: #7f8c8d;
}

body {
  margin: 0;
  font-family: var(--roboto-font);
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: var(--color-grey);
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-family: var(--header-font);
  font-size: 3rem;
  line-height: 90%;
  color: var(--color-white);
  text-transform: uppercase;
}

h2,
h3 {
  margin-top: 0;
  font-family: var(--section-title-font);
  color: var(--color-white);
  font-size: 2rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.df {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

//nav css

.nav-toggle {
  font-size: 3rem;
  color: var(--color-white);
  margin-left: 0.25em;
  margin-top: 0;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.nav--visibile {
  visibility: visible;
  height: auto;
}

.nav__list {
  text-align: center;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav__item {
  margin-top: 0.5em;
}

.nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--section-title-font);
  font-style: normal;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.nav__link:hover {
  text-shadow: var(--color-red) 6px 6px 3px;
}

//specific top to bottom
//header

.header-title {
  font-size: 5.5rem;
  margin-top: 0.65em;
  margin-left: 0.2em;
  letter-spacing: 2px;
}
.header-container {
  position: relative;
}

//img css

.small-img {
  width: 50%;
}

.large-img {
  width: 80%;
}

.skull-img {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 48%;
}

.tashi-img {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 0;
}

.aba-img {
  border-radius: 10px;
}

//section

.section-one {
  position: relative;
}

.section-two {
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.section-one-content {
  font-weight: 100;
  font-size: 2rem;
  text-align: right;
  margin-right: 0.25em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  border-right: 1px dashed var(--color-white);
}

@media (max-width: 550px) {
  .page-wrapper {
    display: block;
  }
}

@media (min-width: 800px) {
  body {
    position: relative;
  }
  .page-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .col-left {
    width: 40%;
    margin-top: 0;
    position: relative;
  }
  .col-right {
    width: 35%;
    margin-top: 3em;
  }
  .header-container {
    position: unset;
  }
  .nav-toggle {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    margin-right: 6em;
  }

  .nav__item {
    margin-left: 2em;
  }
  .nav__link {
    font-size: 1.6rem;
  }

  .nav__link:hover {
    text-shadow: var(--color-red) 3px 3px 3px;
  }
  .header-title {
    font-size: 8rem;
    margin-top: 1.3em;
  }

  .section-one-content {
    font-size: 2.5rem;
    margin-right: 0;
    padding-right: 0.5em;
    padding-top: 0;
  }

  .skull-img {
    width: 70%;
    top: -10%;
    left: 60%;
  }
  .section-two {
    padding-bottom: 0;
    display: block;
    position: absolute;
    top: 55%;
    left: 10%;
  }

  .aba-img {
    width: 30%;
    border-radius: 0px;
  }
  .tashi-img {
    display: none;
  }
}
