:root {
  --header: "BIZ UDPMincho", serif;
  --subhead: "Ubuntu Mono", monospace;
}

body {
  background-color: #4b6584;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
nav {
  position: relative;
  margin-top: 0;
  margin-left: 900px;
  margin-bottom: 1em;
  width: 100%;
  z-index: 100;
}
nav ul {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
  padding: 10px 5px;
  position: absolute;
}
nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: var(--header);
  font-size: 25px;
}

header {
  width: 100%;
  padding: 10px 50px;
  font-family: var(--header);
  font-size: 38px;
}

header h3 {
  font-size: 30px;
  text-align: center;
}

.calendar-container {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event {
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 15vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.text-content:nth-child(odd) {
  text-align: right;
}

.imgElem:nth-child(even) {
  margin-left: 30px;
}
.imgElem:nth-child(odd) {
  margin-right: 30px;
}

.text-content h3 {
  font-family: var(--header);
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.text-content h4 {
  font-family: var(--subhead);
  font-size: 25px;
  font-style: italic;
  margin-bottom: 0;
}

.text-content p {
  font-family: var(--subhead);
  font-size: 18px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  padding: 10px;
}

.imgElem {
  border-radius: 10px;
}
