* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pop-font-fam: "Plaster", cursive;
  --sub-headers: "Bellota Text", cursive;
  --color-light: #ecf0f1;
  --color-dark: #2f3640;
  --color-red: #d63031;
}

.page-wrapper {
  position: relative;
  overflow-x: hidden;
}

.preload {
  overflow: hidden;
}

.pre-load-wrapper {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circlePath-two {
  stroke-dasharray: 340 !important;
  stroke-dashoffset: 340;
  animation: dash 5s linear forwards infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.runner {
  position: absolute;
  font-size: 180px;
  color: #d63031;
  transform: translate(5px, 5px);
}
.runner-two {
  position: absolute;
  font-size: 180px;
  color: #55efc4;
  opacity: 0.7;
  transform: translate(-5px, -5px);
}
.runner-three {
  position: absolute;
  font-size: 180px;
  color: #fdcb6e;
}

.hero-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.hero-image {
  background-image: url(./images/redshorts1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
}

.hero-text {
  position: absolute;
  color: var(--color-light);
  font-family: var(--pop-font-fam);
  font-size: 35px;
  margin-left: 20px;
  line-height: 1.1;
}

.hero-text h2 {
  font-family: var(--sub-headers);
  font-size: 35px;
}

.marquee-container {
  position: absolute;
  left: 415px;
  top: 30px;
  height: 45px;
  width: 600px;
  background-color: rgba(45, 52, 54, 0.8);
  z-index: 1000;
  overflow: hidden;
}

.marquee-container #marquee-text {
  letter-spacing: 2.5px;
  padding-top: 5px;
  padding-left: 100%;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  color: #ecf0f1;
  font-size: 28px;
  white-space: nowrap;
  animation: marquee 40s infinite linear;
}

.marquee-container .subhead-text {
  font-weight: 200;
  font-style: italic;
}

.marquee-container sup {
  font-size: 16px;
}

.marquee-container #marquee-text:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.latest-results-box {
  position: absolute;
  left: 20px;
  top: 250px;
  height: 200px;
  width: 400px;
  background-color: #ecf0f1;
  border-radius: 15px;
  visibility: hidden;
}
.latest-botton {
  position: absolute;
  cursor: pointer;
  top: 215px;
  left: 40px;
  font-family: "Roboto Slab", serif;
  color: #2f3640;
  font-weight: 100;
  font-size: 30px;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #ecf0f1;
  z-index: 100;
}

.latest-content {
  text-align: center;
  margin-top: 20px;
}

.latest-content h3 {
  margin-top: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  font-weight: 200;
}

.latest-content p {
  margin-top: 0px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 100;
}

.latest-content p:hover {
  font-size: 18.5px;
  font-weight: 200;
  cursor: pointer;
}

.hero-nav {
  position: absolute;
  width: 80%;
  top: 550px;
  margin-left: 2%;
  margin-right: 10%;
}

.hero-nav ul {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.hero-nav a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-light);
  font-family: var(--sub-headers);
  text-shadow: #2f3640 2px 2px 5px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero-nav a:hover {
  transition: 0.2s ease-in;
  padding-bottom: 2px;
  border-top: 2px dashed #ecf0f1;
  border-bottom: 2px dashed #ecf0f1;
  /* -webkit-text-stroke: 1px #d63031; */
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
    height: 100vh;
  }

  .pre-load-wrapper {
    width: 150%;
    height: 150%;
    transform: translate(-25%, -25%);
  }

  .whole-svg-two {
    width: 200px;
  }

  .runner-icon {
    font-size: 80px;
  }

  .hero-container {
    height: 100vh;
  }

  .hero-image {
    background-image: url(./images/mediaQuery/redshorts1MQ480.jpg);
  }
  .hero-text {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 1;
  }

  .hero-text h2 {
    margin-top: 10px;
    font-size: 35px;
  }

  .hero-nav {
    width: 480px;
    height: 200px;
    margin-top: -275px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero-nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .hero-nav li {
    margin-top: 20px;
  }

  .marquee-container {
    position: absolute;
    left: 0px;
    top: 210px;
    height: 45px;
    width: 600px;
    background-color: rgba(45, 52, 54, 0.8);
    z-index: 1000;
    overflow: hidden;
  }
}
