* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pop-font-fam: "Plaster", cursive;
  --sub-headers: "Bellota Text", cursive;
  --color-light: #ecf0f1;
  --color-dark: #2f3640;
  --color-red: #d63031;
}

.hero-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.hero-image {
  background-image: url(./images/redshorts1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
}

.hero-text {
  position: absolute;
  color: var(--color-light);
  font-family: var(--pop-font-fam);
  font-size: 35px;
  margin-left: 20px;
  line-height: 1.1;
}

.hero-text h2 {
  font-family: var(--sub-headers);
  font-size: 35px;
}

.hero-nav {
  position: absolute;
  width: 80%;
  top: 550px;
  margin-left: 2%;
  margin-right: 10%;
}

.hero-nav ul {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.hero-nav a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-light);
  font-family: var(--sub-headers);
  text-shadow: #2f3640 2px 2px 5px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero-nav a:hover {
  transition: 0.2s ease-in;
  padding-bottom: 2px;
  border-top: 2px dashed #ecf0f1;
  border-bottom: 2px dashed #ecf0f1;
  /* -webkit-text-stroke: 1px #d63031; */
}

/* Racing Page */

.section-title {
  font-family: var(--pop-font-fam);
  color: var(--color-light);
  font-size: 35px;
}

@media (max-width: 480px) {
  body {
    overflow: hidden;
  }

  .hero-container {
    height: 100vh;
  }

  .hero-image {
    background-image: url(./images/mediaQuery/redshorts1MQ480.jpg);
  }
  .hero-text {
    font-size: 30px;
    margin-left: 20px;
    line-height: 1;
  }

  .hero-text h2 {
    margin-top: 10px;
    font-size: 35px;
  }

  .hero-nav {
    width: 480px;
    height: 200px;
    margin-top: -100px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero-nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .hero-nav li {
    margin-top: 20px;
  }
}
